#recipes-container {
    position: absolute;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

#recipes-container a {
    left: 5%;
    span { margin-right: 3px; }
}

.recipes {
    width: min(100%, 1000px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: max(50px, 5%) 0;
    overflow-y: scroll;
}

.recipes::after {
    content: "";
    width: 300px;
}